@import "../../common/colors.scss";


// .movie-list, .show-list {
//     margin: 20px 0px;
//     h2 {
//         color: $font-secondary;
//         margin-bottom: 10px;
//         font-weight: 500;
//         text-align: center;
//     }
// }

.movie-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-list,
.show-list {
    width: 100%;
    margin: 20px 0px;

    h2 {
        color: $font-secondary;
        margin-bottom: 10px;
        font-weight: 500;
        text-align: center;
    }
}

.movie-container {
    padding: 0 10px;
}

/* Adjust the Slider dots for better visibility on mobile */
.slick-dots {
    bottom: -20px;
}

/* Add responsive styles for smaller screens */
@media screen and (max-width: 768px) {

    .movie-list,
    .show-list {
        h2 {
            font-size: 1.5rem;
        }
    }

    .slick-dots {
        bottom: -10px;
    }
}

